{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"extends": [
		"plugin:prettier/recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier/@typescript-eslint",
		"plugin:prettier/recommended"
	],
	"plugins": ["@typescript-eslint", "prettier"],
	"rules": {
		"prettier/prettier": "error",
        "eqeqeq": "error",
        "block-scoped-var": "error",
        "class-methods-use-this": "error",
        "complexity": ["error", 2],
        "curly": "warn",
        "dot-location": ["warn", "property"],
        "dot-notation": "warn",
        "max-classes-per-file": "error",
        "no-alert": "error",
        "no-constructor-return": "error",
        "no-else-return": "warn",
        "no-empty-function": "warn",
        "no-eq-null": "error",
        "no-eval": "error",
        "no-extra-label": "error",
        "no-magic-numbers": "error",
        "no-multiple-empty-lines": "warn",
        "no-multi-spaces": "warn",
        "no-multi-str": "warn",
        "no-return-assign": "error",
        "no-script-url": "error",
        "no-redeclare": "error",
        "no-self-compare": "error",
        "no-useless-catch": "error",
        "no-useless-concat": "warn",
        "no-useless-escape": "warn",
        "vars-on-top": "warn",
        "prefer-promise-reject-errors": "error",
        "require-await": "error",
        "yoda": "warn",
        "no-label-var": "error",
        "no-use-before-define": "error",
        "arrow-body-style": ["warn", "as-needed"],
        "arrow-parens": "warn",
        "arrow-spacing": "warn",
        "no-confusing-arrow": "warn",
        "no-const-assign": "error",
        "no-dupe-class-members": "error",
        "no-duplicate-imports": "error",
        "no-useless-computed-key": "warn",
        "no-useless-constructor": "warn",
        "no-var": "warn",
        "object-shorthand": "warn",
        "prefer-const": "warn"
	}
}
